<mat-toolbar color="primary" class="header">
  <div class="header__content">
    <div class="header__logo">
      <img src="images/logo.svg" alt="DEV Finder Logo" class="header__logo-image" />
    </div>
    <div class="header__search">
      <div class="header__search-wrapper">
        <input
          type="text"
          class="header__search-input"
          placeholder="Buscar desenvolvedores..."
          [(ngModel)]="searchTerm"
          (input)="onSearch()"
        />
        <mat-icon class="header__search-icon">search</mat-icon>
      </div>
    </div>
  </div>
</mat-toolbar>